body {
    background-color: #cfd0cf;
    margin: 0;
    border: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    font: bold 42px Arial;
    line-height: 47px;
    color: #434344;
}

.playground {
    perspective: 600px;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card {
    width: 130px;
    height: 130px;
    margin: 0 25px 25px 0;

    border: solid #fff 5px;
    border-radius: 9px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg, #22ab93, #19668d);

    z-index: 10;

}


.front {
    z-index: 9;
    display: flex;

    position: absolute;

    height: inherit;
    width: inherit;

    justify-content: center;
    align-items: center;


    transition: background-color 0.5s, opacity 0.2s;

    background-color: inherit;
    opacity: 0;

}


.front.opened {
    transition: all 0.25s;
    transition-delay: 0.2s;
    opacity: 1;

    background-color: white;
}




@keyframes rotateCard {
    100% {transform: rotateY(180deg);}
}

.rotate-card {
    animation: rotateCard;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


@keyframes rotateCardReverse {
    0% {transform: rotateY(180deg);}
}

.rotate-reverse {
    animation: rotateCardReverse;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}







